<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> /media/transfer/output/{{ pic }} </h1>
    <table width="300px" border="1" cellspacing="0">
        <tr>
            <th>Picture</th>
            <th>Operation</th>
        </tr>
        <tr>
            <td><img style="width: 400px;" src="/media/transfer/output/{{ pic }}"></td>
            <td><a href="/transfer/download/?photo={{ pic }}">download</a></td>
        </tr>
    </table>
</body>
</html>